<table style="font-size: 1em; padding: 0; margin: 0;">

<tr style="vertical-align: top; padding: 0; margin: 0;background-color: #ffffff">
        <td style="vertical-align: top; padding: 0; margin: 0; padding-right: 15px;">
    <p style="background: #182AEB; color:#ffffff; text-align:justify; padding: 10px 25px;">
        <strong style="font-size: 1.0em;"><span style="font-size: 1.2em;"><span style="color: #ffffff;">The Coastal Grain Size Portal (C-GRASP) dataset <br/><em>Will Speiser, Daniel Buscombe, Evan Goldstein</em></strong><br/><br/>
        <strong>> Convert Sample Measurements to Phi </strong><br/>
    </p>                       
        
<p style="border: 1px solid #ff5733; border-left: 15px solid #ff5733; padding: 10px; text-align:justify;">
    <strong style="color: #ff5733">The purpose of this notebook</strong>  
    <br/><font color=grey> This notebook will output a CSV containing all of the data from a chosen C-GRASP dataset with all measurements in mm units converted to Phi units. As C-Grasp file sizes vary completion of this task will vary with internet connectivity.<font><br/>
    <br/><font color=grey> This notebook provides simple code in order to convert measurements in mm to phi for each sample within a dataset.<font><br/>    
    <br/><font color=grey> To do so, a user can choose a dataset of choice. <font><br/>
    <br/><font color=grey> The notebook then runs a simple conversion on each column containing mm untis and converts them to Phi.<font><br/>    
    </p>

In [1]:
import pandas as pd
import numpy as np
import ipywidgets

#### Select a dataset

In [2]:
#Dataset collection widget
zen=ipywidgets.Select(
    options=['Entire Dataset', 'Estimated Onshore Data', 'Verified Onshore Data', 'Verified Onshore Post 2012 Data'],
    value='Entire Dataset',
    # rows=10,
    description='Dataset:',
    disabled=False
)

display(zen)

Select(description='Dataset:', options=('Entire Dataset', 'Estimated Onshore Data', 'Verified Onshore Data', '…

#### Download that dataset

In [5]:
url = 'https://zenodo.org/record/6099266/files/' 
if zen.value=='Entire Dataset':
    filename='dataset_10kmcoast.csv'
if zen.value=='Estimated Onshore Data':
    filename='Data_EstimatedOnshore.csv'
if zen.value=='Verified Onshore Data':
    filename='Data_VerifiedOnshore.csv'
if zen.value=='Verified Onshore Post 2012 Data':
    filename='Data_Post2012_VerifiedOnshore.csv'

print("Downloading {}".format(url+filename))

Downloading https://zenodo.org/record/6099266/files/Data_VerifiedOnshore.csv

The next cell will download the CGRASP dataset and read it in as a pandas dataframe with variable name `df`

In [6]:
url=(url+filename)
print('Retrieving Data, Please Wait')
#retrieve data
df=pd.read_csv(url)
print('Sediment Data Retrieved!')

Retrieving Data, Please Wait
Sediment Data Retrieved!

Let's take a quick look at the top of the file

In [7]:
df.head()

,ID,Sample_ID,Sample_Type_Code,Project,dataset,Date,Location_Type,latitude,longitude,Contact,...,d16,d25,d30,d50,d65,d75,d84,d90,d95,Notes
0,876,SPIbeach5,1,"SandSnap, image taken by:",sandsnap,2021-11-08,Beach?Y,26.12871,-97.16718,"Sandsnap, USACE",...,0.565657,0.624976,0.657068,0.785439,0.889342,1.016927,1.131754,1.276942,1.397932,NaN
1,878,SPI6,1,"SandSnap, image taken by:",sandsnap,2021-11-08,Beach?Y,26.12899,-97.16713,"Sandsnap, USACE",...,0.565657,0.624976,0.657068,0.785439,0.889342,1.016927,1.131754,1.276942,1.397932,NaN
2,877,SPI6,1,"SandSnap, image taken by:",sandsnap,2021-11-08,Beach?Y,26.12899,-97.16713,"Sandsnap, USACE",...,0.565657,0.624976,0.657068,0.785439,0.889342,1.016927,1.131754,1.276942,1.397932,NaN
3,1429,SPIbeach4,1,"SandSnap, image taken by:",sandsnap,2021-11-08,Beach?Y,26.16883,-97.17248,"Sandsnap, USACE",...,0.565657,0.624976,0.657068,0.785439,0.889342,1.016927,1.131754,1.276942,1.397932,NaN
4,1430,SPIbeach3,1,"SandSnap, image taken by:",sandsnap,2021-11-08,Beach?Y,26.16885,-97.17284,"Sandsnap, USACE",...,0.565657,0.624976,0.657068,0.785439,0.889342,1.016927,1.131754,1.276942,1.397932,NaN

### Convert to mm
 
This cell converts a column  in mm to Phi units using numpy by looping through each column listed as containing mm values

In [8]:
measurement_columns=('Grainsize','Mean','Median','Kurtosis','Skewness','Std', 'd5',
                       'd10','d16','d25','d30','d50','d65','d75','d84','d90','d95') #All columns with mm measurements


i=0
for i in range(0, len(measurement_columns)): #loop through each field in mm
    df[measurement_columns[i]]= -1*(np.log2((df[measurement_columns[i]].astype(float)))) #convert that field to mm
    i=i+1

print('Done!')

Done!

/home/will/anaconda3/envs/USGS/lib/python3.8/site-packages/pandas/core/arraylike.py:358: RuntimeWarning: divide by zero encountered in log2
  result = getattr(ufunc, method)(*inputs, **kwargs)
/home/will/anaconda3/envs/USGS/lib/python3.8/site-packages/pandas/core/arraylike.py:358: RuntimeWarning: invalid value encountered in log2
  result = getattr(ufunc, method)(*inputs, **kwargs)

Let's view the file again, this time converted to phi units

In [12]:
df

,ID,Sample_ID,Sample_Type_Code,Project,dataset,Date,Location_Type,latitude,longitude,Contact,...,d16,d25,d30,d50,d65,d75,d84,d90,d95,Notes
0,876,SPIbeach5,1,"SandSnap, image taken by:",sandsnap,2021-11-08,Beach?Y,26.12871,-97.16718,"Sandsnap, USACE",...,0.822000,0.678128,0.605884,0.348429,0.169190,-0.024216,-0.178560,-0.352693,-0.483294,NaN
1,878,SPI6,1,"SandSnap, image taken by:",sandsnap,2021-11-08,Beach?Y,26.12899,-97.16713,"Sandsnap, USACE",...,0.822000,0.678128,0.605884,0.348429,0.169190,-0.024216,-0.178560,-0.352693,-0.483294,NaN
2,877,SPI6,1,"SandSnap, image taken by:",sandsnap,2021-11-08,Beach?Y,26.12899,-97.16713,"Sandsnap, USACE",...,0.822000,0.678128,0.605884,0.348429,0.169190,-0.024216,-0.178560,-0.352693,-0.483294,NaN
3,1429,SPIbeach4,1,"SandSnap, image taken by:",sandsnap,2021-11-08,Beach?Y,26.16883,-97.17248,"Sandsnap, USACE",...,0.822000,0.678128,0.605884,0.348429,0.169190,-0.024216,-0.178560,-0.352693,-0.483294,NaN
4,1430,SPIbeach3,1,"SandSnap, image taken by:",sandsnap,2021-11-08,Beach?Y,26.16885,-97.17284,"Sandsnap, USACE",...,0.822000,0.678128,0.605884,0.348429,0.169190,-0.024216,-0.178560,-0.352693,-0.483294,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5348,591703,NaN,1,NaN,UMASS,2016-03-10,berm crest,42.87166,-70.81624,"Jonathan Woodruff, UMASS",...,1.481805,1.319736,1.241141,1.027532,NaN,0.842751,0.783583,0.745787,0.715421,Season: winter; Beach Face: 0.068; Transect: A
5349,591704,NaN,1,NaN,UMASS,2015-08-27,dune,42.87166,-70.81624,"Jonathan Woodruff, UMASS",...,2.059791,1.946947,1.901172,1.733676,NaN,1.620837,1.582283,1.557141,1.536519,Season: summer; Beach Face: 0.075; Transect: A
5350,591705,NaN,1,NaN,UMASS,2016-03-10,dune,42.87166,-70.81630,"Jonathan Woodruff, UMASS",...,1.373822,1.212806,1.152446,0.952613,NaN,0.781125,0.726448,0.691932,0.663786,Season: winter; Beach Face: 0.068; Transect: A
5351,607152,3WellsBeach,1,"Brian McFall, sandsnap training round 1 March ...",sandsnap,2019-09-23,Beach?Y,43.30194,-70.56639,"Sandsnap, USACE",...,2.465515,2.398967,2.360052,2.214111,2.103197,1.980153,1.877728,1.732269,1.621340,Coin: quarter;
5352,607153,Wells Beach,1,"SandSnap, image taken by: rose.dopsovic",sandsnap,2021-09-14,Beach?Y,43.30194,-70.56639,"Sandsnap, USACE",...,0.450095,0.309802,0.240035,-0.009510,-0.188160,-0.380576,-0.534219,-0.706943,-0.836593,NaN

### Write to file

Finally, define a csv file name for the output dataframe

In [10]:
output_csvfile='../data_phi.csv'

Write the data to that csv file

In [11]:
df.to_csv(output_csvfile)